{% extends 'main/base.html' %}

{% block content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    <h1>Password</h1>
    {{form.new_password}}
    <h1>Ulangi Password</h1>
    {{form.reconfirm_password}}
<button type="submit">Reset Password</button>

</form>

{% endblock content %}