{% extends 'main/base.html' %}
{% load static %}
{% block content %}
{% include "main/sidebar.html" %}
    <main class="bg-[#F2F7FF] min-h-screen lg:ml-60 flex w-full">
        <div class="absolute lg:hidden left-0 top-0 h-full w-full bg-black/30 z-[15]" @click="showMenu = false" x-show="showMenu" x-transition.opacity.duration.500ms>
        </div>
        <section class="flex-1 py-6 px-4 md:px-4 lg:px-8">
            <!-- Header -->
            {% include "main/header.html" %}
            <div class="mt-4">
                <div class="flex flex-wrap min-w-300:flex-wrap-reverse gap-4">
                    <div class="flex-1 bg-white shadow-md rounded-lg p-4 text-center">
                        <p class="text-[#435EBE] font-bold">Foto profile</p>
                        <div class="mx-auto pt-5 w-64 text-center">
                            <div class="relative">
                                <img class="rounded-full" src="{% if request.user.foto_profile %}/media/{{ request.user.foto_profile }}{% else %}{% static 'images/logo-umkt.png' %}{% endif %}" alt="" />
                                <form method="post" enctype="multipart/form-data" class="flex flex-col gap-4"> 
                                {% csrf_token %}
                                <div class="mt-6">
                                    <p class="text-[#435EBE] mb-2 font-bold">Ganti foto profil</p>
                                    {{picture_form.foto_profile}}
                                </div>
                                <button type="submit" class="bg-[#55C6E8] rounded-lg text-white py-2 hover:scale-105 duration-300 shadow-sm font-semibold" name="picture">
                                   Simpan
                                </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="flex-auto bg-white shadow-md rounded-lg p-4">
                        <form method="post" enctype="multipart/form-data" class="flex flex-col gap-4">
                            {% csrf_token %}
                            <p class="text-[#435EBE] font-bold">Ganti informasi</p>
                            {% if messages %}
                            {% for message in messages %}
                            <div id="alert-1" class="flex p-4 mb-4 text-{{message.tags}}-800 rounded-lg bg-{{message.tags}}-50 dark:bg-gray-800 dark:text-{{message.tags}}-400" role="alert">
                                <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                                <span class="sr-only">Info</span>
                                <div class="ml-3 text-sm font-medium">
                                  {{message}}
                                </div>
                                  <button onclick="hpsAlert1()" type="button" class="ml-auto -mx-1.5 -my-1.5 bg-{{message.tags}}-50 text-{{message.tags}}-500 rounded-lg focus:ring-2 focus:ring-{{message.tags}}-400 p-1.5 hover:bg-{{message.tags}}-200 inline-flex h-8 w-8 dark:bg-gray-800 dark:text-{{message.tags}}-400 dark:hover:bg-gray-700" data-dismiss-target="#alert-1" aria-label="Close">
                                    <span class="sr-only">Close</span>
                                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                </button>
                              </div>
                            {% endfor %}
                            {% endif %}

                            <input class="p-2 rounded-lg border" type="text" required name="{{form.nama.name}}" value="{{form.nama.value}}" id="{{form.nama.id_for_label}}">
                            <input class="p-2 rounded-lg border" type="email" required name="{{form.email.name}}" value="{{form.email.value}}" id="{{form.email.id_for_label}}">
                            {% comment %} <input class="p-2 rounded-lg border" type="text" name="program_studi" placeholder="Program studi"> {% endcomment %}
                            <button type="submit" class="bg-[#55C6E8] rounded-lg text-white py-2 hover:scale-105 duration-300 shadow-sm font-semibold" name="profile">
                                Simpan
                            </button>
                        </form>
                    </div>
                </div>
                <div class="flex flex-wrap min-w-500:flex-wrap-reverse gap-4">
                <div class="flex-auto mt-4 bg-white shadow-md rounded-lg p-4">
                    <form class="flex flex-col gap-4">
                        <p class="text-[#435EBE] font-bold">Ganti password</p>
                        <div class="relative">
                            <input class="p-2 rounded-lg border w-full" type="password" name="password" placeholder="Password">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-eye absolute top-1/2 right-3 -translate-y-1/2" viewBox="0 0 16 16">
                              <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                              <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                            </svg>
                        </div>
                        <div class="relative">
                            <input class="p-2 rounded-lg border w-full" type="password" name="password" placeholder="Ketik ulang password">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-eye absolute top-1/2 right-3 -translate-y-1/2" viewBox="0 0 16 16">
                              <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                              <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                            </svg>
                        </div>
                        <button class="bg-[#55C6E8] rounded-lg text-white py-2 hover:scale-105 duration-300 shadow-sm font-semibold">
                            <a href="#">Ganti Password</a>
                        </button>
                    </form>
                </div>
            </div>
            </div>
        </section>
    </main>
</body>
<script>
    function hpsAlert1() {
       document.querySelector("#alert-1").remove()
    }
    function hpsAlert2() {
        document.querySelector("#alert-2").remove()
    }
</script>
{% endblock content %}