{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<body>
    <section class="bg-gray-100 min-h-screen flex items-center justify-center">
        <div class="bg-[#435EBE] flex rounded-2xl shadow-lg max-w-3xl items-center">
            <div class="md:w-1/2 p-5 md:px-7 my-18">
                <h2 class="font-bold text-3xl text-white text-center">Registrasi akun</h2>
                <form action="" class="flex flex-col gap-4">
                    <input class="p-2 mt-8 rounded-lg border" type="text" name="nama" placeholder="Nama lengkap">
                    <input class="p-2 rounded-lg border" type="email" name="email" placeholder="Email">
                    <div class="flex-auto">
                        <select class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option selected>Pilih program studi</option>
                            <option value="D3KL">D3 - Kesehatan Lingkungan</option>
                            <option value="S1KP">D3 - Keperawatan</option>
                            <option value="S1KM">S1 - Ilmu Keperawatan</option>
                            <option value="S1FRM">S1 - Farmasi</option>
                            <option value="PN">Profesi Ners</option>
                            <option value="S1HI">S1 - Hubungan Internasional</option>
                            <option value="S1HK">S1 - Hukum</option>
                            <option value="S1MNJ">S1 - Manajemen</option>
                            <option value="S1PSI">S1 - Psikologi</option>
                            <option value="S1PBI">S1 - Pendidikan Bahasa Inggris</option>
                            <option value="S1POR">S1 - Pendidikan Olah Raga</option>
                            <option value="S1TI">S1 - Teknik Informatika</option>
                            <option value="S1TM">S1 - Teknik Mesin</option>
                            <option value="S1TS">S1 - Teknik Sipil</option>
                            <option value="S1TG">S1 - Teknik Geologi</option>
                        </select>
                    </div>
                    <div class="relative">
                      <input class="p-2 rounded-lg border w-full" type="password" name="password" placeholder="Password">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-eye absolute top-1/2 right-3 -translate-y-1/2" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                      </svg>
                    </div>
                    <div class="relative">
                      <input class="p-2 rounded-lg border w-full" type="password" name="password" placeholder="Konfirmasi password">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-eye absolute top-1/2 right-3 -translate-y-1/2" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                      </svg>
                    </div>
                    <button class="bg-[#55C6E8] rounded-lg text-white py-2 hover:scale-105 duration-300 shadow-sm font-semibold">
                      <a href="kirim-konfirmasi-email.html">Daftar</a>
                    </button>
                  </form>
                  <div class="mt-2 text-xs py-4 text-white">
                    <a href="{% url 'akun:login' %}">Sudah punya akun? Silahkan login</a>
                  </div>
            </div>
            <div class="md:block hidden w-1/2">
                <img class="rounded-2xl" src="{% static 'images/login.png' %} ">
            </div>
        </div>
    </section>
</body>
{% endblock content %}